* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

main#home {
  background-color: rgb(26, 29, 41);
  min-height: calc(100vh);
  width: 100%;
  color: white;
  overflow-x: hidden;

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      display: none;
    }
  }
}
