@import 'normalize.css'; // include to remove any base CSS inherited from the browser, provides a consistent foundation for adding CSS

#main {
  background-color: rgb(26, 29, 41);
  min-height: calc(100vh);
  width: 100%;
}
