.hidden {
  display: none;
}

#itemDisplay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(26, 29, 41);
  z-index: 1000;

  .item-display__main {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;

    &.blur {
      filter: blur(10px);
    }

    .item-display__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(
        0deg,
        rgb(26, 29, 41) 10%,
        rgba(9, 9, 121, 0) 49%
      );
    }

    .item-display__content {
      margin: 10rem;

      &.no-logo {
        z-index: 1;
      }
    }

    #videoArt {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      top: 0;
      object-fit: cover;
    }

    .item-display__title {
      font-size: 4rem;
    }

    .item-display__logo img.logo {
      // attempt to remove the black background
      mix-blend-mode: lighten;
      // increase saturation due to the mix-blend-mode
      filter: saturate(2);
    }

    .item-display__secondary {
      text-align: center;
    }
  }

  .item-display__info {
    flex: 0 0 auto;
  }
}
